<html>

<body>

    <h1>All City Details</h1>

    <!-- This form displays all details corresponding to selected city -->
    <form>
        <label>City Code</label>
        <input type="text" name="cityCode" value="<%= cityCode %>"><br>
        <label>City Name</label>
        <input type="text" name="cityName" value="<%= cityName %>"><br>
        <label>City Population</label>
        <input type="text" name="population" value="<%= population %>"><br>
        <label>By the Sea</label>
        <input type="text" name="bySea" value="<%= bySea %>"><br>
        <label>Area (KM)</label>
        <input type="text" name="area" value="<%= area %>"><br><br><br>

        <label>Country Code</label>
        <input type="text" name="area" value="<%= coCode %>"><br>
        <label>Country Name</label>
        <input type="text" name="area" value="<%= country %>">
    </form>
    <a href="../overview.html">Home</a>
</body>
<script>
</script>

</html>